.side{
    position: fixed;
    width: 15%;
    height: 100%;
    background-color: #98b1c5;
}
.side-div-f{
    padding: 50% 10%;
}
.nav-a:hover{
color: white !important;
}
.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }